# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h
*.pro.user

# Temporatry directories
build-*/
protobuf/
